.active
{
    background-color: #1d4ed8;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #b4bcd1;
    position:sticky;
    width: 100%;
    top:0;
     
} 

nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(121, 107, 107);
}
nav ul{
    display: flex;
    margin:0;
    padding: 0;
}

nav ul li
{
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin:0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover{
    background-color: #172554;
}

nav .menu
{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;

}

nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}
.dropdown-menu {
    position:absolute;
    top: 100%;
    left: 0;
    background-color: #2b5544;
    padding: 10px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    background-color: #1d3a2b;
    border-radius: 0;
}


@media (max-width: 480px)
{
    nav .menu
    {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
       display: none;
       flex-direction: column;
       width: 100%;
       margin-bottom: 0.25rem; 
    }

nav ul.open
{
    display: flex;
}

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a
    {
        margin: 0.2rem 0.5rem;
    }
    .dropdown-menu {
        position: relative;
        top: 0;
    }
}